:root {
  --main-font: "Staatliches", cursive;
  --main-color: pink;
}

h1 {
  font-family: var(--main-font);
  font-size: 120px;
  font-weight: 500;
  font-style: medium;
}

h2 {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: medium;
}
body {
  background-color: var(--main-color);
}
.hero a {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 30px;
  max-width: 120px;
  color: var(--main-color);
}

.hero p {
  font-family: var(--main-font);
}

@media (max-width: 900px) {
  h1 {
    font-size: 80px;
  }
  p {
    padding: 3px;
    justify-content: space-around;
    font-size: 13px;
  }
  img {
    max-width: 100px;
  }
  hero {
    display: flex;
  }

  .hero img {
    border-radius: 70px;
  }
}
