:root {
  --main-font: "Staatliches", cursive;
  --main-color: lightpink;
}

h1 {
  font-family: var(--main-font);
  font-size: 120px;
  font-weight: 500;
  font-style: medium;
}

h2 {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: medium;
}

body {
  background-color: var(--main-color);
}

.body {
  background-color: var(--main-color);
}

.hero {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.hero a {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 30px;
  max-width: 120px;
  color: var(--main-color);
}

.hero p {
  font-family: var(--main-font);
}

.main-container {
  text-align: center;
}

.about-container {
  display: block;
  margin: 30px auto;
  padding: 15px;
  max-width: 900px;
  border: solid 2px rgb(116, 112, 116);
  box-shadow: 1px 4px 5px 3px rgb(116, 112, 116);
  background-color: #fff;
  border-radius: 4%;
}
.about-container p {
  font-size: 18px;
}

.contacts {
  font-size: 80px;
}

.social {
  margin-top: 40px;
  border: 1px gold solid;
  border-radius: 25px 75px 10px 60px;
  max-width: 500px;
  padding: 25px 40px;
  background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}

.my-github {
  max-width: 35px;
  border-radius: 50%;
  background-color: white;
}

.my-github:hover {
  background-color: var(--main-color);
}

.main-contacts {
  text-align: center;
  margin-top: 120px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 80px;
  }
  p {
    padding: 3px;
    justify-content: space-around;
    font-size: 13px;
  }
  img {
    max-width: 100px;
  }
  hero {
    display: flex;
  }
  .about-container p {
    font-size: 14px;
  }
  .contacts {
    font-size: 32px;
  }
}

.module {
  border-width: 6px;
  border-style: 1px grey solid;

  padding: 8px;
}

.contact {
  display: block;
  margin: 0 auto;
  width: 220px;
}
