h1 {
  font-family: "Staatliches", cursive;
  font-size: 120px;
  font-weight: 500;
  font-style: medium;
}
body {
  background-color: pink;
}
/* font-family: 'Fascinate', cursive;
font-family: 'Staatliches', cursive; */
